.acerca h1, .acerca{ font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size:
					 60px; font-style: normal; font-variant: normal; font-weight: 700; color:#f07939;
				 background-color: #f3f1e8}

.quien{
    background-color:#f3f1e8;
    width: 29.5%;
    height: 20%;
    text-align: center;
    padding:10% 0;
		display:inline-block;
}

.imagen3 {
	display:inline-block;
}

#img222{
    width: 950px;
    height: 550px;
}
