.p-large {
	text-align:justify;
}

h1 {
	color: #393939;
	font: 700 3rem/3.5rem "Raleway", sans-serif;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #0AB4E0;
	border-radius: 2rem;
	background-color: #0AB4E0;
	color: #fff;
	font: 700 0.75rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #0AB4E0;
	text-decoration: none;
}

.header {
	background-color: #fff;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 5rem;
}

.header h1 {
	margin-bottom: 1.125rem;
	font-size: 2.5rem;
	line-height: 3.125rem;
}

.header .p-large {
	margin-bottom: 1.875rem;
}
.line-division{
	background-color: gray;
	height: 350px;
	width: 1px;
	margin: 0 35px;
}
.btn-solid-lg{
	margin: 25px 0 0 0;
	width: 100%;
}

@media only screen and (max-width: 992px) {
	.line-division{
		display: none;
	}
}