.titulo-fase3{
    margin-top: -55px;
    color: #55b848;
}

.btnasas{
  width: 500px !important;
  height: 50px;
}


.separaciona{
  margin-top: 10%;
}

.mango{
  transform: scale(0.7);
  position: relative;
  top:-160px;
}
